<?xml version="1.0"?>
<!--
/**
 * @author Mauricio Paz
 * @copyright Copyright © 2020 Mpaz. All rights reserved.
 * @package Mpaz_DiscountBadge
 */
-->
<config 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Mpaz_DiscountBadge" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Swatches"/>
            <module name="Magento_ConfigurableProduct"/>
        </sequence>
    </module>
</config>
